:root {
    --sans: 'Open Sans', sans-serif;
    --popp: 'Poppins', sans-serif;

    --color-white: hsla(0, 0%, 100%, 1);
    --color-pink: hsl(322, 100%, 66%);
    --color-light-link: hsl(321, 100%, 78%);
    --color-light-red: hsl(0, 100%, 63%);
    --color-dark-cyan: hsl(192, 100%, 9%);
    --color-pale-blue: hsl(207, 100%, 98%);
    --color-pale-blue-2: hsla(208, 100%, 98%, 1);
    --color-gray: hsla(208, 12%, 55%, 1);
    --color-blue: hsla(192, 100%, 49%, 1);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}

// .main {}

.h1 {
    font-family: var(--popp);
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    @media only screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 48px;
    }

    @media only screen and (min-width: 1150px) {
        font-size: 48px;
        line-height: 72px;
    }
}

.u-h1-mb-24px {
    margin-bottom: 24px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 26px;
    }
}

.p {
    font-family: var(--sans);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    max-width: 600px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 30px;
    }
}

.u-p-mb-48px {
    margin-bottom: 48px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 49px;
    }
}
