.header {
    margin-bottom: 120px;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 24px 0 24px;
        margin: 0 auto 112px auto;

        @media only screen and (min-width: 768px) {
            max-width: 1380px;
            padding: 50px 40px 0 40px;
        }

        @media only screen and (min-width: 1150px) {
            padding-top: 78px;
            margin-bottom: 225px;
        }
    }

    &__logo {
        width: 96px;

        @media only screen and (min-width: 768px) {
            width: 165px;
        }

        @media only screen and (min-width: 1150px) {
            width: revert;
        }
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-transform: capitalize;
        text-decoration: none;
        font-family: var(--sans);
        color: var(--color-pink);

        font-weight: 400;
        font-size: 9.41177px;
        line-height: 13px;

        border: 1px solid var(--color-pink);
        border-radius: 50px;
        padding: 4px 18px 5px 18px;
        box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
        transition: color 0.15s, border 0.15s, transform 0.15s;

        &:hover {
            color: var(--color-light-link);
            border: 1px solid var(--color-light-link);
        }

        &:active {
            transform: scale(0.98);
        }

        @media only screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 22px;

            box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
            padding: 8px 30px;
        }
    }

    &__wrapper {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 40px;

        @media only screen and (max-width: 350px) {
            padding: 0 24px;
        }
    }

    &__content-wrapper {
        text-align: center;
        color: var(--color-dark-cyan);
        margin-bottom: 104px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 120px;
        }
    }

    &__img-wrapper {
        display: flex;
    }

    &__img {
        width: 100%;
    }
}
