.stats {
    max-width: 160px;
    margin: 0 auto 32px auto;

    font-family: var(--sans);
    text-align: center;

    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 880px;
        padding: 0 100px;
    }

    @media only screen and (min-width: 1150px) {
        padding: 0;
        margin-bottom: 140px;
    }

    &__col-1 {
        margin-bottom: 88px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    // &__col-2 {}

    &__icon {
        display: block;
        width: 32px;

        margin-left: 5px;
    }

    &__num {
        color: var(--color-dark-cyan);
        font-weight: 700;
        font-size: 60px;
        line-height: 91px;

        @media only screen and (min-width: 768px) {
            font-size: 76px;
            line-height: 110px;

            margin-bottom: 2px;
        }

        @media only screen and (min-width: 1150px) {
            font-size: 96px;
            line-height: 144px;
        }
    }

    &__text {
        color: var(--color-gray);
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;

        @media only screen and (min-width: 768px) {
            font-size: 20px;
            line-height: 30px;
        }

        @media only screen and (min-width: 1150px) {
            font-size: 24px;
            line-height: 36px;
        }
    }
}
