:root {
  --sans: "Open Sans", sans-serif;
  --popp: "Poppins", sans-serif;
  --color-white: hsla(0, 0%, 100%, 1);
  --color-pink: hsl(322, 100%, 66%);
  --color-light-link: hsl(321, 100%, 78%);
  --color-light-red: hsl(0, 100%, 63%);
  --color-dark-cyan: hsl(192, 100%, 9%);
  --color-pale-blue: hsl(207, 100%, 98%);
  --color-pale-blue-2: hsla(208, 100%, 98%, 1);
  --color-gray: hsla(208, 12%, 55%, 1);
  --color-blue: hsla(192, 100%, 49%, 1);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

.h1 {
  font-family: var(--popp);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 32px;
    line-height: 48px;
  }
}
@media only screen and (min-width: 1150px) {
  .h1 {
    font-size: 48px;
    line-height: 72px;
  }
}

.u-h1-mb-24px {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .u-h1-mb-24px {
    margin-bottom: 26px;
  }
}

.p {
  font-family: var(--sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 600px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .p {
    font-size: 20px;
    line-height: 30px;
  }
}

.u-p-mb-48px {
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .u-p-mb-48px {
    margin-bottom: 49px;
  }
}

.link,
.link:link,
.link:visited {
  text-decoration: none;
  font-family: var(--sans);
  color: var(--color-white);
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  padding: 11.5px 39.5px;
  border-radius: 50px;
  background-color: var(--color-pink);
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
  transition: background-color 0.15s ease-in, transform 0.15s;
  position: relative;
}
.link:hover,
.link:link:hover,
.link:visited:hover {
  background-color: var(--color-light-link);
}
.link:hover::after,
.link:link:hover::after,
.link:visited:hover::after {
  transform: scale(1.3, 1.4);
  opacity: 0;
}
.link:active,
.link:link:active,
.link:visited:active {
  transform: scale(0.98);
}
@media only screen and (min-width: 768px) {
  .link,
  .link:link,
  .link:visited {
    font-size: 18px;
    line-height: 26px;
    box-shadow: 0px 4.5px 10px rgba(0, 37, 46, 0.223053);
    padding: 18px 65px;
  }
}
@media only screen and (min-width: 1150px) {
  .link,
  .link:link,
  .link:visited {
    font-size: 20px;
    line-height: 30px;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    padding: 26.5px 100px;
  }
}
.link::after,
.link:link::after,
.link:visited::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: var(--color-pink);
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}

.header {
  margin-bottom: 120px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 0 24px;
  margin: 0 auto 112px auto;
}
@media only screen and (min-width: 768px) {
  .header__nav {
    max-width: 1380px;
    padding: 50px 40px 0 40px;
  }
}
@media only screen and (min-width: 1150px) {
  .header__nav {
    padding-top: 78px;
    margin-bottom: 225px;
  }
}
.header__logo {
  width: 96px;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    width: 165px;
  }
}
@media only screen and (min-width: 1150px) {
  .header__logo {
    width: revert;
  }
}
.header__link, .header__link:link, .header__link:visited {
  text-transform: capitalize;
  text-decoration: none;
  font-family: var(--sans);
  color: var(--color-pink);
  font-weight: 400;
  font-size: 9.41177px;
  line-height: 13px;
  border: 1px solid var(--color-pink);
  border-radius: 50px;
  padding: 4px 18px 5px 18px;
  box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
  transition: color 0.15s, border 0.15s, transform 0.15s;
}
.header__link:hover, .header__link:link:hover, .header__link:visited:hover {
  color: var(--color-light-link);
  border: 1px solid var(--color-light-link);
}
.header__link:active, .header__link:link:active, .header__link:visited:active {
  transform: scale(0.98);
}
@media only screen and (min-width: 768px) {
  .header__link, .header__link:link, .header__link:visited {
    font-size: 16px;
    line-height: 22px;
    box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
    padding: 8px 30px;
  }
}
.header__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}
@media only screen and (max-width: 350px) {
  .header__wrapper {
    padding: 0 24px;
  }
}
.header__content-wrapper {
  text-align: center;
  color: var(--color-dark-cyan);
  margin-bottom: 104px;
}
@media only screen and (min-width: 768px) {
  .header__content-wrapper {
    margin-bottom: 120px;
  }
}
.header__img-wrapper {
  display: flex;
}
.header__img {
  width: 100%;
}

.stats {
  max-width: 160px;
  margin: 0 auto 32px auto;
  font-family: var(--sans);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    padding: 0 100px;
  }
}
@media only screen and (min-width: 1150px) {
  .stats {
    padding: 0;
    margin-bottom: 140px;
  }
}
.stats__col-1 {
  margin-bottom: 88px;
}
@media only screen and (min-width: 768px) {
  .stats__col-1 {
    margin-bottom: 0;
  }
}
.stats__icon {
  display: block;
  width: 32px;
  margin-left: 5px;
}
.stats__num {
  color: var(--color-dark-cyan);
  font-weight: 700;
  font-size: 60px;
  line-height: 91px;
}
@media only screen and (min-width: 768px) {
  .stats__num {
    font-size: 76px;
    line-height: 110px;
    margin-bottom: 2px;
  }
}
@media only screen and (min-width: 1150px) {
  .stats__num {
    font-size: 96px;
    line-height: 144px;
  }
}
.stats__text {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
@media only screen and (min-width: 768px) {
  .stats__text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1150px) {
  .stats__text {
    font-size: 24px;
    line-height: 36px;
  }
}

.grow {
  position: relative;
  background-color: var(--color-pale-blue);
  padding: 60px 0;
  text-align: center;
}
@media only screen and (min-width: 1150px) {
  .grow {
    max-width: 1440px;
    margin: 0 auto;
    text-align: left;
    padding: 70px 0 20px 0;
  }
}
@media only screen and (min-width: 1150px) {
  .grow__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1260px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
.grow__bg-top, .grow__bg-bottom {
  width: 100%;
  display: flex;
}
@media only screen and (min-width: 1150px) {
  .grow__bg-top, .grow__bg-bottom {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.grow__bg-bottom {
  margin-bottom: 130px;
}
@media only screen and (min-width: 768px) {
  .grow__bg-bottom {
    margin-bottom: 150px;
  }
}
@media only screen and (min-width: 1150px) {
  .grow__bg-bottom {
    margin-bottom: 195px;
  }
}
.grow__img-wrapper {
  max-width: 500px;
  margin: 0 auto 40px auto;
  padding: 0 40px;
}
@media only screen and (min-width: 768px) {
  .grow__img-wrapper {
    max-width: 600px;
  }
}
@media only screen and (min-width: 1150px) {
  .grow__img-wrapper {
    order: 2;
  }
}
.grow__img {
  width: 100%;
}
.grow__content-wrapper {
  max-width: 500px;
  margin: 0 auto;
  color: var(--color-dark-cyan);
}
@media only screen and (min-width: 1150px) {
  .grow__content-wrapper {
    order: 1;
    padding-bottom: 100px;
  }
}
.grow__h2 {
  font-family: var(--popp);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .grow__h2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 26px;
  }
}
.grow__text {
  font-family: var(--sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0 28px;
}
@media only screen and (min-width: 768px) {
  .grow__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1150px) {
  .grow__text {
    padding: 0;
  }
}

.flow {
  text-align: center;
  margin-bottom: 120px;
}
@media only screen and (min-width: 1150px) {
  .flow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto 111px auto;
    text-align: left;
  }
}
.flow__img-wrapper {
  max-width: 530px;
  padding: 0 55px;
  margin: 0 auto 85px auto;
}
@media only screen and (max-width: 350px) {
  .flow__img-wrapper {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 768px) {
  .flow__img-wrapper {
    max-width: 640px;
  }
}
@media only screen and (min-width: 1150px) {
  .flow__img-wrapper {
    max-width: 530px;
    padding: 0;
    margin: 0;
  }
}
.flow__img {
  width: 100%;
}
.flow__content-wrapper {
  color: var(--color-dark-cyan);
  max-width: 500px;
  margin: 0 auto;
  padding: 0 28px;
}
@media only screen and (min-width: 768px) {
  .flow__content-wrapper {
    max-width: 520px;
    padding: 0;
  }
}
@media only screen and (min-width: 1150px) {
  .flow__content-wrapper {
    margin: 0;
  }
}
.flow__h2 {
  font-family: var(--popp);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .flow__h2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 26px;
  }
}
.flow__text {
  font-family: var(--sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@media only screen and (min-width: 768px) {
  .flow__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.user {
  text-align: center;
  background-color: var(--color-pale-blue);
}
@media only screen and (min-width: 1150px) {
  .user {
    max-width: 1440px;
    margin: 0 auto;
    text-align: left;
  }
}
.user__bg-top, .user__bg-bottom {
  width: 100%;
  display: flex;
}
@media only screen and (min-width: 1150px) {
  .user__bg-top, .user__bg-bottom {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.user__bg-bottom {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .user__bg-bottom {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1150px) {
  .user__bg-bottom {
    margin-bottom: 145px;
  }
}
.user__wrapper {
  padding: 24px 0 100px 0;
}
@media only screen and (min-width: 768px) {
  .user__wrapper {
    padding: 0 0 50px 0;
  }
}
@media only screen and (min-width: 1150px) {
  .user__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px;
  }
}
.user__img-wrapper {
  max-width: 642px;
  margin: 0 auto 79px auto;
  padding: 0 54px;
}
@media only screen and (max-width: 350px) {
  .user__img-wrapper {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1150px) {
  .user__img-wrapper {
    max-width: 534px;
    padding: 0;
    margin: 0;
    order: 2;
  }
}
.user__img {
  width: 100%;
}
.user__content-wrapper {
  max-width: 520px;
  margin: 0 auto;
  color: var(--color-dark-cyan);
}
@media only screen and (min-width: 1150px) {
  .user__content-wrapper {
    margin: 0;
  }
}
.user__h2 {
  font-family: var(--popp);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .user__h2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 26px;
  }
}
.user__text {
  font-family: var(--sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0 27.5px;
}
@media only screen and (min-width: 768px) {
  .user__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }
}

.cta {
  text-align: center;
  padding: 0 24px;
  margin-bottom: 251px;
}
@media only screen and (min-width: 768px) {
  .cta {
    margin-bottom: 200px;
  }
}
@media only screen and (min-width: 1150px) {
  .cta {
    margin-bottom: 178px;
  }
}
.cta__h2 {
  font-family: var(--popp);
  color: var(--color-dark-cyan);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .cta__h2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 42px;
  }
}

.footer {
  background-color: var(--color-dark-cyan);
  padding: 50px 28px 46px 28px;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 100px 40px 103px 40px;
  }
}
.footer__bg-bottom {
  display: flex;
  width: 100%;
  position: relative;
  bottom: -1px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin: 0 auto;
  color: var(--color-white);
}
@media only screen and (min-width: 1150px) {
  .footer__wrapper {
    max-width: 1200px;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
  }
}
.footer__col-1 {
  order: 2;
}
.footer__col-1 p {
  font-family: var(--sans);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1150px) {
  .footer__col-1 p {
    margin-bottom: 24px;
  }
}
.footer__col-1 ul {
  list-style: none;
}
@media only screen and (min-width: 1150px) {
  .footer__col-1 {
    order: 0;
    width: 340px;
  }
}
.footer__ul-contact {
  margin-bottom: 48px;
}
@media only screen and (min-width: 1150px) {
  .footer__ul-contact {
    margin-bottom: 80px;
  }
}
.footer__ul-contact li {
  display: flex;
  align-items: center;
}
.footer__ul-contact li:first-of-type {
  margin-bottom: 16px;
}
.footer__ul-contact li img {
  margin-right: 18px;
}
.footer__ul-contact li a {
  text-decoration: none;
  font-family: var(--sans);
  color: var(--color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer__ul-social {
  display: flex;
}
.footer__ul-social li:not(:last-child) {
  margin-right: 17px;
}
@media only screen and (min-width: 1150px) {
  .footer__ul-social li:not(:last-child) {
    margin-right: 24px;
  }
}
.footer__ul-social li {
  cursor: pointer;
}
.footer__ul-social li:hover ion-icon {
  fill: var(--color-blue);
}
.footer__ul-social ion-icon {
  width: 23px;
  height: 23px;
  transition: fill 0.15s;
}
@media only screen and (min-width: 1150px) {
  .footer__ul-social ion-icon {
    width: 32px;
    height: 32px;
  }
}
.footer__logo {
  width: 200px;
  margin-bottom: 16px;
  filter: brightness(0) invert(1);
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    width: revert;
  }
}
@media only screen and (min-width: 1150px) {
  .footer__logo {
    margin-bottom: 26px;
  }
}
.footer__col-2 {
  margin-bottom: 104px;
  font-family: var(--sans);
}
@media only screen and (min-width: 1150px) {
  .footer__col-2 {
    width: 520px;
    margin-bottom: 0;
  }
}
.footer__col-2 h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 1150px) {
  .footer__col-2 h2 {
    font-size: 24px;
    line-height: 36px;
  }
}
.footer__col-2 p {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1150px) {
  .footer__col-2 p {
    width: 350px;
    margin-bottom: 40px;
  }
}
.footer__col-2 form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
@media only screen and (min-width: 1150px) {
  .footer__col-2 form {
    flex-direction: row;
  }
}
.footer__col-2 form p {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  font-family: var(--sans);
  color: var(--color-light-red);
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: none;
}
@media only screen and (min-width: 1150px) {
  .footer__col-2 form p {
    bottom: -70px;
  }
}
.footer__col-2 input {
  width: 100%;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 0 16px;
  cursor: pointer;
  color: var(--color-dark-cyan);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer__col-2 input:hover {
  border: 1px solid var(--color-light-red);
}
.footer__col-2 input:focus {
  outline: none;
  border: 1px solid var(--color-light-red);
}
@media only screen and (min-width: 1150px) {
  .footer__col-2 input {
    margin: 0 40px 0 0;
  }
}
.footer__col-2 button {
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 41px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-pink);
  cursor: pointer;
  transition: background-color 0.15s;
}
.footer__col-2 button:hover {
  background-color: var(--color-light-link);
}

/*# sourceMappingURL=style.css.map */
